h2{
    text-align: center;
    
}


.panel{
 
    background-color: blanchedalmond;

}
h1{
    text-align: center;
}
img{
    
    width: 200px;
    align-self: auto;

}

.example{

    align-items: center;

}